* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    user-select: none;
    font-family: sans-serif;
}

body{
    background-color: #FAFAFA;
}
/*FIRST --------------- TASK*/
.block {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    width: 700px;
    margin: 0 auto;
}

#setData{
    height: 30px;
    width: 200px;
    margin-bottom: 10px;
    border: 1px solid #1f1c24;
}

.setData::placeholder{
    padding-left: 20px;
}

h1 {
    font-size: 35px;
    margin-bottom: 20px;
}

#data{
    font-weight: 600;
    font-size: 35px;
    margin-bottom: 20px;
}

.countdown-container {
    display: flex;
    justify-content: space-between;
}

.text {
    display: block;
    font-size: 65px;
}

.done{
    font-size: 65px;
    display: none;
}

.countdown {
    text-align: center;
    margin-right: 90px;
}

.countdown:last-child {
    margin-right: 0;
}

span {
    font-size: 25px;
    font-weight: lighter;
}

/*SECOND --------------- TASK*/

.title {
    font-size: 35px;
    margin-bottom: 20px;
}

textarea {
    width: 100%;
    height: 250px;
    padding: 10px;
    border: 1px solid #d9d9d9;
    font-size: 1rem;
    resize: none;
    line-height: 1.5rem;
}

textarea:hover {
    border-color: #C0C0C0;
}

textarea:focus {
    border-color: #4D90FE;
}

.props {
    display: flex;
    width: 100%;
    text-align: left;
    border: 1px solid #DDD;
    background-color: #f4f4f4;
    margin-top: 10px;
}

.props__inner {
    width: 50%;
    padding: 10px 20px;
}

.props span {
    font-weight: bold;
}

.props p {
    font-size: 20px;
}

.keywords {
    font-weight: 900;
    text-align: left;
}

.key__title{
    font-size: 20px;
}

.keywords {
    margin-top: 20px;
    display: flex;
    width: 100%;
    text-align: left;
    flex-direction: column;
    font-size: 2rem;
    font-weight: 900;
}

.keywords ul {
    font-weight: 400;
    border: 1px solid #DDD;
    font-size: 1.4rem;
    background-color: #f4f4f4;
    width: 100%;
}

.keywords li {
    display: inline-block;
    width: 50%;
    padding: 10px 20px;
}

















