@font-face {
    font-family: 'Hello Tropical';
    src: url('HelloTropical.woff2') format('woff2'),
        url('HelloTropical.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

